a.toggler {
    background: #636363;
    cursor: pointer;
    border: 2px solid black;
    border-right-width: 10px;
    padding: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .1s ease;
    display: block;
    position: relative;
    margin-top: 10px;
    width: 50%;
    left: 0px;
    margin-top: 10px;
    padding: 2px;
    margin-left: 8px;
}

a.toggler.off {
    background: yellow;
    border-right-width: 2px;
    border-left-width: 10px;
    display: block;
    position: relative;
    margin-top: 10px;
    width: 50%;
    left: 0px;
    margin-top: 10px;
    padding: 2px;
    margin-left: 8px;
}